@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@font-face {
  font-family: 'SpotifyMix';
  src: url('/SpotifyMix-Extrabold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LOT';
  src: url('/LOT-Regular.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
html,
body {
  padding: 0;
  margin: 0;
  background-color: #000000;
  color: #ffffff; /* This sets the default text color to white for better contrast */
}

* {
  box-sizing: border-box;
}